.Sprint1{
    margin-top: 30px;
    margin-bottom: -30px;
}
body{
    background-color: rgb(220, 247, 238);
    font-family: 'Acme', sans-serif;
    font-size: 10px;
}
.card-text{
    text-align: center;
    margin-top: -5px;
}
.button{
display: flex;
justify-content: center;
}
.btn{
font-size: 15px;
background-color: rgb(134, 218, 218);
border: none;
border-radius: 50px;
}
.btn2{
    font-size: 15px;
    background-color: rgb(134, 218, 218);
    border: none;
    border-radius: 50px 0px 0px 50px;
    text-decoration: none;
    width: 90px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .btn3{
        font-size: 15px;
        background-color: rgb(134, 218, 218);
        border: none;
        border-radius: 0px 50px 50px 0px;
        text-decoration: none;
        width: 90px;
        height: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        }
.btn:hover{
background-color: rgb(107, 189, 189);
-webkit-box-shadow: -1px 0px 8px 4px rgba(34, 60, 80, 0.17);
-moz-box-shadow: -1px 0px 8px 4px rgba(34, 60, 80, 0.17);
box-shadow: -1px 0px 8px 4px rgba(34, 60, 80, 0.17);
}
.btn2:hover{
    background-color: rgb(107, 189, 189);
    -webkit-box-shadow: -1px 0px 8px 4px rgba(34, 60, 80, 0.17);
    -moz-box-shadow: -1px 0px 8px 4px rgba(34, 60, 80, 0.17);
    box-shadow: -1px 0px 8px 4px rgba(34, 60, 80, 0.17);
    }
    .btn3:hover{
        background-color: rgb(107, 189, 189);
        -webkit-box-shadow: -1px 0px 8px 4px rgba(34, 60, 80, 0.17);
        -moz-box-shadow: -1px 0px 8px 4px rgba(34, 60, 80, 0.17);
        box-shadow: -1px 0px 8px 4px rgba(34, 60, 80, 0.17);
        }
.card{
margin-top: 50px;
width: 250px;
height: 250px;
}
.card:hover{
    -webkit-box-shadow: 14px 13px 17px -3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 14px 13px 17px -3px rgba(34, 60, 80, 0.2);
    box-shadow: 14px 13px 17px -3px rgba(34, 60, 80, 0.2);
}
.text_center{
font-size: 15px;
text-align: center;
}
