.container{
    border: brown;
    width: 800px;
}
.red{
    background-color: brown;
    width: 100%;
    height: 200px;
}
.green{
    background-color: chartreuse;
    width: 100%;
    height: 200px;
}
.blow{
    background-color: darkblue;
    width: 100%;
    height: 200px;
}
.top{
    margin-bottom: 30px;
    overflow: hidden;
    
}
.middle_blow{
    width: 33%;
    height: 100px;
    background-color: darkblue;
    float: left;
}
.middle_green{
width: 33%;
height: 100px;
background-color: darkgreen;
float: left;
}
.middle_red{
    width: 33%;
    height: 100px;
    background-color: darkred;
    float: left;
}
.yellow{
    background-color: gold;
    width: 99%;
    height: 100px;
    float: left;
}
.container{
    margin-bottom: 30px;
}
.black{
    background-color: teal;
    width: 50%;
    height: 100px;
    float: left;
}
.grow{
    background-color: slategrey;
    width: 49%;
    height: 100px;
    float: left;
}
.gren{
    background-color: tan;
    width: 50%;
    height: 100px;
    float: left;
}
.container2{
    background-color: turquoise;
    width: 1000px;
    height: 150px;
}
.red_3{
    background-color: tomato;
    width: 50%;
    height: 100px;
    float: left;
}
.green_3{
    background-color:turquoise;
    width: 50%;
    height: 100px;
    float: left;
}
.blow_3{
    background-color:violet;
    width: 50%;
    height: 100px;
    float: left;

}